/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Corpo */

/* Principal - Introdução */
#principalhome {
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
    padding: 25px;
    margin: 20px;
    color: white;
    text-align: center;
}

#principalhome h1 {
    text-align: center;
    font-size: 2em;
}

#principalhome h1:hover::before {
    content: "<   ";
    color: green;
}

#principalhome h1:hover::after {
    content: "   />";
    color: green;
}

#principalhome figure img {
    width: 200px;
    margin: 10px;
}

#principalhome p {
    font-size: 0.9em;
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 20px;
}

.moldeuniversidade {
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 3%;
}

.moldeuniversidade h2 {
    font-size: 0.8em;
    margin: 10px;
    padding-top: 10px;
}

.moldeuniversidade h3 {
    font-size: 0.6em;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 10px;
}

.moldeuniversidade li {
    list-style-type: none;
}

.moldeuniversidade a {
    text-decoration: none;
    font-size: 0.6em;
}

/* Rodapé */
footer {
    background-color: black;
    padding: 12px;
    color: white;
    text-align: center;
}

footer ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

footer li {
    align-content: center;
    list-style-type: none;
    margin: 0 10px;
}

footer a img {
    width: 30px;
}

footer p {
    font-size: 0.8em;
    margin: 10px auto;
}