/* Regra geral */
@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav li {
    list-style-type: none;
    margin-top: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

/* Corpo */
body {
    background-color: whitesmoke;
}

caption {
    padding: 10px;
}

#container-3 > table > tbody > :nth-child(even) {
    background-color: gray;
}

/* Telas smartphone (pequeno) */
@media (max-width: 768px) {
    header {
        font-size: 0.7em;
    }

    section {
        padding: 10px;
        text-align: center;
    }

    #informacoes-contabeis-ufba {
        font-size: 0.1em;
        padding: 8px;
        margin: auto;
        max-width: fit-content;
    }

    #informacoes-contabeis-ufba table {
        font-size: 0.1em;
        margin-bottom: 30px;
        margin: 10px auto 5px auto;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    /* TODO: O problema de responsividade provavelmente esteja aqui */
    #container-1 > table, #container-2 > table, #container-3 > table {
        border: 1px solid black;
        max-width: fit-content;
        font-size: 0.1em;
    } 
    #container-2 > table {
        margin: auto;
        border: 1px solid black;
        max-width: fit-content;
        font-size: 0.3em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
}

/* Tablets */
@media (min-width: 768px) {
    section {
        padding: 30px;
        text-align: center;
    }

    #informacoes-contabeis-ufba {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #informacoes-contabeis-ufba table {
        margin-bottom: 30px;
        margin: 20px auto 5px auto;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #container-1 > table, 
    #container-2 > table,
    #container-3 > table {
        border: 1px solid black;
        width: 100%;
        font-size: 0.6em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
}

/* Outras telas (desktop) */
@media (min-width: 1200px){
    section {
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #container-1 > table, 
    #container-2 > table,
    #container-3 > table {
        border: 1px solid black;
        width: 100%;
        font-size: 1em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
}

table {
    border: 1px solid black;
}

caption {
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

thead tr td{
    background-color: black;
    color: white;
    padding: 10px;
}


#liberado {
    background-color: greenyellow;
}

#trancado {
    background-color: rgba(255, 0, 0, 0.46);
}

/* Rodapé */
footer {
    background-color: black;
    padding: 12px;
    color: white;
    text-align: center;
}

footer ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

footer li {
    align-content: center;
    list-style-type: none;
    margin: 0 10px;
}

footer a img {
    width: 30px;
}

footer p {
    font-size: 0.8em;
    margin: 10px auto;
}

/* Específica */
#roxo {
    background-color: yellow;
    color: black;
}