/* Regra geral */
@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 15px;
}

header li > a {
    text-decoration: none;
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 10px;
}

/* Corpo */
body {
    background-color: whitesmoke;
}

section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#natureza {
    font-size: 0.5em;
    border-style: solid;
}

#container-1, #container-2 {
    margin: 15px auto 10px auto;
    font-size: 0.3em;
    max-width: fit-content;
    border: 1px solid black;
}

caption {
    background-color: rgb(51, 51, 51);   
    color: white;
}

thead {
    background-color: gainsboro;
    text-align: center;
}

tbody {
    text-align: center;
}

body p {
    text-align: center;
}

/* APAGUE Telas smartphone (pequeno) 
@media (max-width: 768px) {
    header {
        font-size: 0.7em;
    }

    section {
        padding: 10px;
        text-align: center;
    }

    #informacoes-contabeis-ufba {
        font-size: 0.1em;
        padding: 8px;
        margin: auto;
        max-width: fit-content;
    }

    #informacoes-contabeis-ufba table {
        font-size: 0.1em;
        margin-bottom: 30px;
        margin: 10px auto 5px auto;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }APAGUE*/ 

    /* TODO: O problema de responsividade provavelmente esteja aqui */
    /* APAGUE #container-1 > table, #container-2 > table, #container-3 > table {
        border: 1px solid black;
        max-width: fit-content;
        font-size: 0.1em;
    } 
    #container-2 > table {
        margin: auto;
        border: 1px solid black;
        max-width: fit-content;
        font-size: 0.3em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
}
* Apague/
/* Tablets */
/* APAGUE @media (min-width: 768px) {
    section {
        padding: 30px;
        text-align: center;
    }

    #informacoes-contabeis-ufba {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #informacoes-contabeis-ufba table {
        margin-bottom: 30px;
        margin: 20px auto 5px auto;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #container-1 > table, 
    #container-2 > table,
    #container-3 > table {
        border: 1px solid black;
        width: 100%;
        font-size: 0.6em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
} * APAGUE/

/* Outras telas (desktop) */
/* APAGUE @media (min-width: 1200px){
    section {
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    #container-1, 
    #container-2,
    #container-3 {
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    #container-1 > table, 
    #container-2 > table,
    #container-3 > table {
        border: 1px solid black;
        width: 100%;
        font-size: 1em;
    }

    caption {
        font-size: 1.5em;
    }

    #tfoot {
        background-color: black;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
}

table {
    border: 1px solid black;
}

caption {
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

thead tr td{
    background-color: black;
    color: white;
    padding: 10px;
} * APAGUE/ */


#liberado {
    background-color: greenyellow;
}

#trancado {
    background-color: rgba(255, 0, 0, 0.46);
}

/* Rodapé */
footer {
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer ul {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

footer li {
    align-content: center;
    list-style-type: none;
}

footer a img {
    width: 15px;
}

footer p {
    align-content: center;
    margin: auto 10px auto 10px;
    font-size: 0.5em;
}

/* Específica */
#amarelo {
    background-color: yellow;
    color: black;
}

#cinza {
    background-color: gainsboro;
}